
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 100%;
    nav{
       ul{
        display: none;
        justify-content: space-between;
   
       }
    }
    img{
        width: 30%;
    }
}
  
// hero
.hero{
    .img0{
        position: absolute;
        width: 42%;
        z-index: -1;
        top: -7px;
        left: -6px;
    }
  .img{
    top: -22px;
    position: absolute;
    width: 51%;
    right: -8px;
    z-index: -1;
  }
    text-align: left;
    display: block;
    margin-top: -7vh;
    .div1{
        position: relative;
        h1{
            color:#27226B;
             font-size: 30px;
             padding-top: 86px;
             padding-left: 27px;
         }
       p{
          font-size: 20px;
          color:#27226B;
          padding: 20px;
       }
       
           button{
               font-size: 20px;
                color: white;
                background-color: #0493A3;
                border: none;
                padding: 8px;
                margin-left: 20px;
           }
    }
 
 .div2{
    img{
        width: 100%;
        padding: 20px;
    }
  
 }
}

.about{
    margin-top: 264px;
    padding: 20px;
    display: block;
   .div1{
     
   img{
       width: 100%;
   }
   }
   .div2{
      
    h2{
        font-size: 25px;
        padding-bottom: 2vh;
        color: #0493A3;
    }
    p{
        color:#27226B; 
    } 
    button{
        font-size: 20px;
         color: white;
         background-color:#27226B ;
         border: none;
         padding: 8px;
       
    }

   }
}

.contact{
    display: block;
    padding: 20px;
    .div1{
        h2{
            font-size: 25px;
            padding-bottom: 2vh;
            color: #0493A3;
        } 
         p{
            color:hsl(244, 52%, 28%); 
        } 
        div{
            font-size: 20px;
         color: white;
         background-color:#27226B ;
         border: none;
         padding: 8px;
        }

    }
    .div2{
        .img{
            display:none ;
        }
        img{
            width: 100%;
            padding-top: 20px;
        }
    }
}

.covid{ 
    padding: 10px;
    .img{
    display: none;
    }
    .main{
        background-color:#27226B ;
        padding: 15px;
        text-align: left;
        display: block;
        .div1{
           img{
               width: 100%;
           }
        }
        .div2{
            h2{
                color: white;
                padding-top: 20px;
                font-size: 24px;
            }
            h6{
                color: white;
                font-size: 20px;
                padding-top: 10px;
            }
            p{
                color: white;
                font-size: 19px;
                padding-top: 10px;
            }
            div{
                border: 1px solid white;
                font-size: 19px;
                color: white;
            }
        }
    }
}

.gallery{
    display: block;
    margin: 40px 0;
   .div1{
       width: 67%;
       display: flex;
       img{
           width: 100%;
           padding-bottom: 5px;
       }
       .img{
           width: 49%;
           padding-left: 10px;
       }
   }
    .div2{
        width: 100%;
        display: flex;
        img{
            width: 60%;
            padding-bottom: 5px;
        }
        .img{
            width: 40%;
            padding: 15px 0 15px 15px;
        }

}
}

.join{
    display: block;
    padding: 10px;
    .div1{
        background-color: #0493A3;
        color: white;
        text-align: left;
        padding: 20px;
        button{
            border:1px solid white;
            background-color:transparent;
            padding: 5px;
            color: white;
            opacity: 1;
        }
    
    }
    .div2{
        background-color: #27226B;
        color: white;
        text-align: right;
        padding: 20px;
        margin-top: 10px;
        button{
            border:1px solid white;
            background-color:transparent;
            padding: 5px;
            color: white;
            opacity: 1;
        }
    }
}

.advocate{
    padding: 20px;
    display: block;
    .div1{
        margin-bottom: 20px;
        background-color: #27226B;
        color: white;
        text-align: left;
        padding: 20px;
        margin-top: 10px;
        button{
            border:1px solid white;
            background-color:transparent;
            padding: 5px;
            color: white;
            opacity: 1;
        }
    }
    .div2{
        margin: -10px;
  img{
      width: 100%;
  }
    }
    .div3{
        margin-top: 20px;
        background-color: #0493A3;
        // border-radius: 2px solid white;
        color: white;
        text-align: left;
        padding: 20px;
        button{
            border:1px solid white;
            background-color:transparent;
            padding: 5px;
            color: white;
            opacity: 1;
        } 
    }
}

footer{
   background-image: url("../img/Path\ 7.png"); 
   background-size: cover;
   height: 83vh;
   text-align: left;
   padding: 31px;
   margin-top: 50px;
   img{
       display: none;
   }  
   .img{
    display: none;
    }
.img1{
    display: none;
}

   h2{
    color: #0493A3;
    margin-bottom: 10px;
    }

    form{
        margin-bottom: 20px;
        display: flex;
        input{
            border: none;
        }
        button{
             color: white;
             background-color: #27226B;
             border: none;
             padding: 5px;
             margin-left: 3px;
        }
    }

.main{
    display: block;
    
        .div1{
            h6{
                color: #27226B;
            }
         ul{
 
             li{
                a{
                 font-size: 15px;
                 text-decoration: none;
                 color: #27226B;
                }
             }
         }
            }
        .div2{
         h6{
             color: #27226B;
         }
      ul{
 
          li{
             a{
              font-size: 15px;
              text-decoration: none;
              color: #27226B;
             }
          }
      }
             }
 
     .div3{
         h6{
             color: #27226B;
         }
      ul{
 
          li{
             a{
              font-size: 15px;
              text-decoration: none;
              color: #27226B;
             }
          }
      }
         }
}

   
}




@media(min-width:576px) and (max-width :768px){
    .hero{
        img{
            width: 44%;
        }
      .img{
        width: 54%;
        left: 352px;
      }
        text-align: left;
        display: flex;
        margin-top: -6px;
   .div1{
       width: 51%;
       padding-left: 12px;
       h1{
           color: white;
           font-size: 29px;
           padding-top: 95px;
       }
       p{
           font-size: 19px;
           padding-top: 24px;
       }
   }
   .div2{
       width: 45%;
       padding-top: 82px;
       width: 100%;
       object-fit: contain;
       position: relative;
       img{
           padding: 6px;
       }
   }
    }
    .about{
        background-image: url("../img/Path\ 2.png");
        display: flex;
        background-size: cover;
        height:24vh;
        text-align: left;
        margin-top: -17px;
        .div1{
            width: 64%;
            margin-top: 142px;
        }
        .div2{
            width: 50%;
            padding-left: 20px;
            margin-top: 177px;
            h2{
                padding-bottom: 0;
            }
            p{
                font-size: 16px;
            }
        }
    }
    .contact{
        display: flex;
        margin-top: 31vh;
        .div1{
            width: 50%;
        }
        .div2{
          .img{
              display: block;
              position: absolute;
              width: 80%;
          }
            img{
                width: 95%;
                position: relative;
            }
        }
    }
}









@media(min-width :1265px){
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav{
        display: flex;
        justify-content: space-between;
    }
}
    .hero{
      
        overflow: hidden;
        img{
            width: 53%;
        }
      .img{
        width: 45%;
        left: 96vh;
      }
     
        text-align: left;
        display: flex;
        margin-top: -10px;
   .div1{
       width: 35%;
       padding-top: 102px;
       h1{
          font-size: 73px;
          color: white;
       }
       p{
           font-size: 23px;   
            padding-top: 108px;
       }
   }
   .div2{
       width: 50%;
       padding-top: 105px;
       img{
           width: 64%;
       }
   }
    }
    .about{
        background-image: url("../img/Path\ 2.png");
        display: flex;
        background-size: cover;
        height:50vh;
        text-align: left;
        margin-top: -46px;
    

    .div1{
        margin-top: 266px;
    }
    .div2{
        width: 50%;
        margin-top: 394px;
        margin-left: 68px;
        h2{
            font-size: 45px;
        }
        p{
          font-size: 23px;
        }
        button{
            font-size: 23px;
        }
    }
}
.contact{
    display: flex;
    margin-top: 45vh;
    padding: 70px;
    justify-content: space-between;
    align-items: center;

 .div1{
       width: 45%;
       padding-top: 102px;
    //    margin-right: 7vh;
       h2{
          font-size: 45px;
          color:#0493A3 ;
       }
       p{
           font-size: 23px; 
           width: 84%;  
         
       }
       div{
           width: 84%;
       }

   }
   .div2{
    //    background-color: red;
    position: relative;
    text-align: center;
    width:45%;
    padding-top: 105px;
     .img{
        position: absolute;
        width: 100%;
        z-index: -1;
        top: 62px;
        left: 31px;
        display: block;
        }
       img{
           width: 92%;
       }
   }
}

.covid{
    padding: 70px;

    .img{
        position: absolute;
        z-index: -1;
        width: 51%;
        left: 40vh;
        display: block;
   

    }
.main{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 71px;
    padding: 27px 0;
    .div1{
        width: 45%;
    }
    .div2{
        width: 45%;
        padding-left: 20px;
        h2{
            font-size: 31px;
        }
        p{
            font-size: 23px;
        }
        div{
            font-size: 29px;
        }
    }
}
}
// .gallery{
//     display: flex;
//     width: 100%;
//     .div1{
//         display: block;
//         width: 35%;
//         img{
//             object-fit: contain;
           
//         }
//         .img{
//             object-fit: contain;
//         }

//     }
//     .div2{
//         width: 65%;
//         img{
//             object-fit: contain;
//             width: 100%;
//         }
//         .img{
//             object-fit: contain;
//         }
//     }
// }

.join{
    margin: 30px;
    background-image: url("../img/path-one.png");
    background-size: cover;
    height: 44vh;
    display: flex;

.div1{
    background-color: transparent;
    width: 55%;
    h2{
        font-size: 32px;
    }
    p{
        font-size: 22px;
        width: 66%;
    }
    img{
        position: absolute;
    left: 509px;
    width: 23%;
    margin-top: -72px;
    }
}
.div2{
    background-color: transparent;
    width: 55%;
    text-align: right;
    h2{
        font-size: 32px;
    }
    p{
        font-size: 22px;
        margin-left: 249px;
    }
}
}

.advocate{
    display: flex;
    .div1{
        width: 33%;
        margin-right: 33px;
    }
     .div2{
        width: 33%;
    }
    .div3{
        width: 33%;
        margin-left: 33px;
    }

}

footer{
    height: 75vh;
    padding: 64px;
    img{
        width: 10%;
        display: block;
        position: absolute;
    }
    .img{
        width: 8%;
        left: 94px;
        position: absolute;
        margin-top: 295px;
        display: block;
    }
    .img1{
        position: absolute;
        right: 0;
        display: block;
        width: 10%;
    }
    h2{
        text-align: center;
        font-size: 45px;
        margin-bottom: 45px;
        margin-top: 5vh;

    }

    form{
        margin-left: 39vh;
        margin-bottom: 87px;
        input{
            font-size: 20px;
            padding: 0 334px 0 20px;
        }
        button{
            font-size: 25px;
            padding: 16px;
        }
    }
   .main{
    display: flex;
    margin: 26px 46px 121px 277px;
    justify-content: space-around;

     .div1{
         width: 20%;
            h6{
                color: #27226B;
                font-size: 24px;
            }
         ul{
 
             li{
                a{
                 font-size: 15px;
                 text-decoration: none;
                 color: #27226B;
                 font-size: 24px;
                }
             }
         }
            }
        .div2{
          
         h6{
             color: #27226B;
             font-size: 24px;
         }
      ul{
 
          li{
             a{
              font-size: 15px;
              text-decoration: none;
              color: #27226B;
              font-size: 24px;
             }
          }
      }
             }
 
     .div3{
         h6{
             color: #27226B;
             font-size: 24px;
         }
      ul{
 
          li{
             a{
              font-size: 15px;
              text-decoration: none;
              color: #27226B;
              font-size: 24px;
             }
          }
      }
         }
   }
}

}
